
html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color: rgba(255, 255, 255, 0.703);	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 18px;
	font-weight: 600;
}


img {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}
.section-title {
	margin-top: 0px;
	margin-bottom: 60px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #cd6103;
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: top center; */
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #cd6103;
	letter-spacing: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #cd6103;
	border: none;
}



#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

/*---------------------
  Featured
-----------------------*/

.featured {
	padding-top: 80px;
	padding-bottom: 40px;
}

.featured__controls {
	text-align: center;
	margin-bottom: 50px;
}

.featured__controls ul li {
	list-style: none;
	font-size: 18px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
}

.featured__controls ul li.active:after {
	opacity: 1;
}

.featured__controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #cd6103;
	content: "";
	opacity: 0;
}

.featured__controls ul li:last-child {
	margin-right: 0;

}

.featured__item {
	margin-bottom: 50px;
	/* padding-right: 30px; */
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
	bottom: 20px;

}

.featured__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
	background-position: center center;
	transition: transform 0.6s ease;
}
.featured__item__pic:hover{
	transform: scale(1.1);
	border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), #00000082);
}

.featured__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
	margin-right: 0;
}

.featured__item__pic__hover li:hover a {
	background: #cd6103;
	border-color: #cd6103;
}

.featured__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.featured__item__text {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text h6 {
	margin-bottom: 10px;
}

.featured__item__text h6 a {
	color: #252525;
}

.featured__item__text h5 {
	color: #252525;
	font-weight: 700;
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu ul li {
		margin-right: 45px;
	}
	.hero__search__form {
		width: 490px;
	}
	.hero__categories__all {
		padding: 10px 25px 10px 20px;
	}
	.hero__categories ul {
		padding-left: 20px;
	}
	.latest-product__slider.owl-carousel .owl-nav {
		right: 0;
	}
	.product__details__tab .nav-tabs:before {
		width: 265px;
	}
	.product__details__tab .nav-tabs:after {
		width: 265px;
	}
	.shoping__discount form input {
		width: 240px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero__categories {
		margin-bottom: 30px;
	}
	.hero__search__form {
		width: 485px;
	}
	.categories__slider.owl-carousel .owl-nav button {
		left: -20px;
	}
	.categories__slider.owl-carousel .owl-nav button.owl-next {
		right: -20px;
	}
	.filter__sort .nice-select {
		padding-left: 5px;
		padding-right: 28px;
	}
	.product__details__quantity {
		margin-bottom: 10px;
	}
	.product__details__text .primary-btn {
		margin-bottom: 10px;
	}
	.product__details__tab .nav-tabs:before {
		width: 150px;
	}
	.product__details__tab .nav-tabs:after {
		width: 150px;
	}
	.blog__details__author {
		overflow: hidden;
		margin-bottom: 25px;
	}
	.humberger__open {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 22px;
	}
	.header .container {
		position: relative;
	}
	.humberger__menu__wrapper {
		width: 300px;
		background: #ffffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 99;
		padding: 30px;
		padding-top: 50px;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		opacity: 1;
		left: 0;
	}
	.humberger__menu__logo {
		margin-bottom: 30px;
	}
	.humberger__menu__logo a {
		display: inline-block;
	}
	.humberger__menu__contact {
		padding: 10px 0 13px;
	}
	.humberger__menu__contact ul li {
		font-size: 14px;
		color: #1c1c1c;
		position: relative;
		line-height: 30px;
		list-style: none;
	}
	.humberger__menu__contact ul li i {
		color: #252525;
		margin-right: 5px;
	}
	.humberger__menu__cart ul {
		display: inline-block;
		margin-right: 25px;
	}
	.humberger__menu__cart ul li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;
	}
	.humberger__menu__cart ul li:last-child {
		margin-right: 0;
	}
	.humberger__menu__cart ul li a {
		position: relative;
	}
	.humberger__menu__cart ul li a i {
		font-size: 18px;
		color: #1c1c1c;
	}
	.humberger__menu__cart ul li a span {
		height: 13px;
		width: 13px;
		background: #cd6103;
		font-size: 10px;
		color: #ffffff;
		line-height: 13px;
		text-align: center;
		font-weight: 700;
		display: inline-block;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: -12px;
	}
	.humberger__menu__cart .header__cart__price {
		font-size: 14px;
		color: #6f6f6f;
		display: inline-block;
	}
	.humberger__menu__cart .header__cart__price span {
		color: #252525;
		font-weight: 700;
	}
	.humberger__menu__cart {
		margin-bottom: 25px;
	}
	.humberger__menu__widget {
		margin-bottom: 20px;
	}
	.humberger__menu__widget .header__top__right__language {
		margin-right: 20px;
	}
	.humberger__menu__nav {
		display: none;
	}
	.humberger__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.humberger__menu__wrapper .slicknav_btn {
		display: none;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}
	.humberger__menu__wrapper .slicknav_nav {
		display: block !important;
	}
	.humberger__menu__wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.humberger__menu__wrapper .slicknav_nav ul {
		margin: 0;
	}
	.humberger__menu__wrapper .slicknav_nav a {
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		border-bottom: 1px solid #e1e1e1;
	}
	.humberger__menu__wrapper .slicknav_nav a:hover {
		-webkit-border-radius: 0;
		border-radius: 0;
		background: transparent;
		color: #cd6103;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_row,
	.humberger__menu__wrapper .slicknav_nav a {
		padding: 8px 0;
	}
	.humberger__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hero__categories {
		margin-bottom: 30px;
	}
	.hero__search {
		margin-bottom: 30px;
	}
	.hero__search__form {
		width: 100%;
	}
	.hero__search__form form input {
		width: 100%;
	}
	.hero__search__form form .hero__search__categories {
		display: none;
	}
	.hero__search__phone {
		float: left;
		margin-top: 30px;
	}
	.categories__slider.owl-carousel .owl-nav {
		text-align: center;
		margin-top: 40px;
	}
	.categories__slider.owl-carousel .owl-nav button {
		position: relative;
		left: 0;
		top: 0;
		-webkit-transform: translateY(0);
	}
	.categories__slider.owl-carousel .owl-nav button.owl-next {
		right: -10px;
	}
	.footer__copyright {
		text-align: center;
	}
	.footer__copyright__text {
		float: none;
		margin-bottom: 25px;
	}
	.footer__copyright__payment {
		float: none;
	}
	.filter__item {
		text-align: center;
	}
	.filter__option {
		text-align: center;
	}
	.product__details__pic {
		margin-bottom: 40px;
	}
	.product__details__tab .nav-tabs:before {
		display: none;
	}
	.product__details__tab .nav-tabs:after {
		display: none;
	}
	.shoping__cart__table {
		overflow-y: auto;
	}
	.shoping__discount form input {
		margin-bottom: 15px;
	}
	.blog__details__author {
		overflow: hidden;
		margin-bottom: 25px;
	}
	.humberger__open {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 22px;
	}
	.header .container {
		position: relative;
	}
	.humberger__menu__wrapper {
		width: 300px;
		background: #ffffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 99;
		padding: 30px;
		padding-top: 50px;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		opacity: 1;
		left: 0;
	}
	.humberger__menu__logo {
		margin-bottom: 30px;
	}
	.humberger__menu__logo a {
		display: inline-block;
	}
	.humberger__menu__contact {
		padding: 10px 0 13px;
	}
	.humberger__menu__contact ul li {
		font-size: 14px;
		color: #1c1c1c;
		position: relative;
		line-height: 30px;
		list-style: none;
	}
	.humberger__menu__contact ul li i {
		color: #252525;
		margin-right: 5px;
	}
	.humberger__menu__cart ul {
		display: inline-block;
		margin-right: 25px;
	}
	.humberger__menu__cart ul li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;
	}
	.humberger__menu__cart ul li:last-child {
		margin-right: 0;
	}
	.humberger__menu__cart ul li a {
		position: relative;
	}
	.humberger__menu__cart ul li a i {
		font-size: 18px;
		color: #1c1c1c;
	}
	.humberger__menu__cart ul li a span {
		height: 13px;
		width: 13px;
		background: #cd6103;
		font-size: 10px;
		color: #ffffff;
		line-height: 13px;
		text-align: center;
		font-weight: 700;
		display: inline-block;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: -12px;
	}
	.humberger__menu__cart .header__cart__price {
		font-size: 14px;
		color: #6f6f6f;
		display: inline-block;
	}
	.humberger__menu__cart .header__cart__price span {
		color: #252525;
		font-weight: 700;
	}
	.humberger__menu__cart {
		margin-bottom: 25px;
	}
	.humberger__menu__widget {
		margin-bottom: 20px;
	}
	.humberger__menu__widget .header__top__right__language {
		margin-right: 20px;
	}
	.humberger__menu__nav {
		display: none;
	}
	.humberger__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.humberger__menu__wrapper .slicknav_btn {
		display: none;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}
	.humberger__menu__wrapper .slicknav_nav {
		display: block !important;
	}
	.humberger__menu__wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.humberger__menu__wrapper .slicknav_nav ul {
		margin: 0;
	}
	.humberger__menu__wrapper .slicknav_nav a {
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		border-bottom: 1px solid #e1e1e1;
	}
	.humberger__menu__wrapper .slicknav_nav a:hover {
		-webkit-border-radius: 0;
		border-radius: 0;
		background: transparent;
		color: #cd6103;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_row,
	.humberger__menu__wrapper .slicknav_nav a {
		padding: 8px 0;
	}
	.humberger__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.hero__search__form form .hero__search__categories {
		display: none;
	}
	.featured__controls ul li {
		margin-bottom: 10px;
	}
	.product__details__text ul li b {
		width: 100px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 20px;
	}
	.shoping__cart__btns {
		text-align: center;
	}
	.primary-btn.cart-btn.cart-btn-right {
		float: none;
		margin-top: 10px;
	}
	.shoping__checkout .primary-btn {
		display: block;
		text-align: center;
		padding: 10px 15px 10px;
	}
	.map .map-inside {
		-webkit-transform: translateX(-125px);
		-ms-transform: translateX(-125px);
		transform: translateX(-125px);
	}
	.map .map-inside .inside-widget {
		width: 250px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 15px;
	}
	.shoping__discount form input {
		width: 100%;
	}
	.checkout__order {
		padding: 20px;
	}
	.blog__details__hero__text h2 {
		font-size: 24px;
	}
}

.row{
	background-color: transparent !important;
}